
body {
	font-family: Verdana, sans;
	font-size: 16px;
	width:320px;
	padding:10px;
	margin-left:auto;
	margin-right:auto;
	border-right:1px dashed #cbcbcb;
	border-left:1px dashed #cbcbcb;
	background-color:white;
}
b { color:#800; }
i { color:#822; }
p {
	width:300px;
	text-align: left;
	margin-left:auto;
	margin-right:auto;
}
.bln {
	color: #800;
	font-size: 17px;
}
h1 .bln {
	font-size: 34px;
}
code.pp, textarea {
	font-family: courier, sans;
	font-size:14px;
	line-height:1.1em;
	padding:6px 0px 6px 4px;
	display: inline-block;
	border:1px dashed gray;
	background-color:#ffc;
	width:300px;
	margin:0px 0px 0px 10px;
}
code {
	font-family: courier, sans;
	font-size: 16px;
}
.bold { font-weight: bold; }
.right { text-align: right; }
.center { text-align: center; }

h3, h4, h5 {
	border-bottom: 1px solid black;
}

table.small {
	font-size: 14px;
	width: 100%;
}
table.small td:first-child {
	font-family: 'Inconsolata', courier, fixed, sans;
	font-size: 16px;
	width: 45%;
}
table.synthops {
	margin-top: 1em;
}
table.download {
	margin: 0 2em 0 1em;
}
table.download a {
	text-decoration: none;
}
table.download td:first-child + td {
	width: 100%;
}
table.download td:first-child + td + td {
	text-align: right;
}
a[href] { color: blue; }
a[href]:visited { color: blue; }
a[href]:hover { color: red; }

a[href^=mailto] {
	text-decoration: none;
}
